/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-size: 1.4em;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}

.loading:before {
  content: '';
  border: 2px solid #ccc;
  animation: rotate .6s linear infinite;
  border-top-color: black;
  border-radius: 1em;

  width: .75em;
  height: .75em;
  display: inline-block;
}