/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-size: 1.3em;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}

h2 {
  font-size: 1.3em;
}

.project__results {
  list-style: none;
} 

.project__result {
  line-height: 40px;
  margin: .5em 0;
}

.project__result__thumbnail {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-right: 1em;
}

.spinner:before {
  content: '';
  border: 2px solid #ccc;
  animation: rotate .6s linear infinite;
  border-top-color: black;
  border-radius: 1em;
  vertical-align: middle;
  margin-left: 1em;
  width: .75em;
  height: .75em;
  display: inline-block;
}