body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.3em;
}

a {
  color: #333;
}

hr {
  border: none;
  height: 10px;
  box-shadow: -3px 3px 3px -4px #333;
  width: calc(100% + 6px);
}

.section {
  margin: 0 2em;
}

.project__results {
  list-style: none;
  padding: 0;
} 

.project__result {
  line-height: 40px;
  margin: .5em 0;
}

.project__result__thumbnail {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-right: 1em;
}

.pagination {
  display: flex;
  max-width: 300px;
}


.pagination__link--next {
  flex-grow: 1;
}

.pagination__link--next {
  text-align: right;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  border: 2px solid #ccc;
  animation: rotate .6s linear infinite;
  border-top-color: black;
  border-radius: 1em;
  vertical-align: middle;
  margin-left: 1em;
  width: .75em;
  height: .75em;
  display: inline-block;
}
