<!-- use app static files-->
script(src="/js/jquery.min.js")
script(src="/js/dataTables.min.js",)
script(src="/js/dataTables.bootstrap5.min.js")
script.
  $(document).ready(function(){$('#patternsTable').DataTable();});
link(rel="stylesheet", href="/css/dataTables.bootstrap5.min.css")
