mixin featured(products)
  ul.list-group
    each product in products
      li.list-group-item
        if product.square_thumbnail_url
          img.img-thumbnail(src=product.square_thumbnail_url, style="max-width: 80px; height: auto;") 
        a(href="product/" + product.handle)= product.title
  