mixin pattern(pattern)
  div.row
    div.col-md-6.mt-5
      div.card
        h2.card-header
          = pattern.name
        div#latest.card-body!= pattern.notes_html
    div.col-md-6.mt-5
      div.card
        div#latest.card-body
          each photo in pattern.photos
            img.img-thumbnail(src=photo.square_url)
