mixin pattern(pattern)
  div.row
    div.col-md-6.mt-5
      div.card
        h2.card-header.
          pattern.name
        div#latest.card-body!= pattern.notes
    div.col-md-6.mt-5
      div.card
        h2.card-header.
          Featured
        div#latest.card-body
          +featured(featured)
