include _nav
include _glitch
include _featured
include _about
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _fontawesome.pug
  body
    header
      div.mt-5.text-center
        img(src="https://cdn.glitch.com/29d57bd2-6ac1-4702-9368-3907c36bd191%2Fjaneburnsheader.png?v=1587509724660")
    h1.visually-hidden= title
    +nav()
    main(class="container")
      div.row
        div.col-md-6.mt-5
          +about(name, about)
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Featured
            div#latest.card-body
              +featured(featured)
          div.card.mt-5
            h2.card-header.
              About this site
            div#latest.card-body
              p This is a demo to run a dynamic website yourself that gets all the information form your Ravelry Store.
              p You will need an API key  (find out more at 
                a(href="https://www.ravelry.com/pro/developer") https://www.ravelry.com/pro/developer
                | ) but once you have, you can remix this site and it will work exactly the same but with your information.
          div.card.mt-5
            h2.card-header.
              Socials
            div#latest.card-body
              ul.list-group
              each site in sites
                li.list-group-item
                  a(href=site.url, target="new")= site.social_site.name
                    
           
    footer.container
      span Made with 
      a(href='https://glitch.com') Glitch
      +glitch()
