include _nav
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _fontawesome.pug
  body
    header
      +nav('')
    h1.
      Jane Burns Designs
    main(class="container")
      div.row
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Patterns
            div#latest.card-body
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Featured
            div#latest.card-body
    footer.container
      Made with 
      a(href='https://glitch.com') Glitch
