include _nav
include _glitch
include _featured
include _about
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _fontawesome.pug
  body
    header
      div.mt-5.text-center
        img(src="https://cdn.glitch.com/29d57bd2-6ac1-4702-9368-3907c36bd191%2Fjaneburnsheader.png?v=1587509724660")
    h1.sr-only
      Jane Burns Designs
    main(class="container")
      +about(about)
      div.row
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Patterns
            div#latest.card-body
              p This is my demo to read a Ravelry Store (you need an API key for that store)
              p Find out more at 
                a(href="https://www.ravelry.com/pro/developer") https://www.ravelry.com/pro/developer
              hr
              ul
                li 
                  a(href="/products") All Products
                li 
                  a(href="/Designer") Jane Burns
                li 
                  a(href="/product/368294") Product 368294
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Featured
            div#latest.card-body
              +featured(featured)
    footer.container
      span Made with 
      a(href='https://glitch.com') Glitch
      +glitch()
