include _nav
include 
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _fontawesome.pug
  body
    header
      +nav('')
      div.mt-100
        img(src="https://cdn.glitch.com/29d57bd2-6ac1-4702-9368-3907c36bd191%2Fjaneburnsheader.png?v=1587509724660")
    h1.sr-only
      Jane Burns Designs
    main(class="container")
      div.row
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Patterns
            div#latest.card-body
        div.col-md-6.mt-5
          div.card
            h2.card-header.
              Featured
            div#latest.card-body
    footer.container
      Made with 
      a(href='https://glitch.com') Glitch
