include _nav
include _pattern
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
  body
    header
      div.mt-5.text-center
        img(src="/assets/site_header.png")
    h1.visually-hidden Jane Burns Designs
    +nav('patterns')
    main(class="container")
      +pattern(pattern)
    footer.container
      span &copy; Doug &amp; Jane Finnie 2025
