include _nav
include _glitch
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _datatables.pug
  body
    header
      div.mt-5.text-center
        img(src="https://cdn.glitch.com/29d57bd2-6ac1-4702-9368-3907c36bd191%2Fjaneburnsheader.png?v=1587509724660")
    h1.visually-hidden Jane Burns Designs
    +nav('patterns')
    main(class="container")
      h2 Patterns
      table#patternsTable.table.table-striped
        thead
          th Pattern
          th
          th Price
        each pattern in patterns
          tr
            td
              a(href="pattern/" +pattern.sku.replace('JB-','').replace('EB-',''))
                = pattern.title
            td
              - var imgUrl = pattern.square_thumbnail_url.replace('http://images4.ravelry.com', 'https://images4-g.ravelrycache.com')
              img(src={imgUrl}, alt=pattern.title + " thumbnail")
            td
              = pattern.pretty_price
          
    footer.container
      span Made with 
      a(href='https://glitch.com') Glitch
      +glitch()
