include _nav
doctype html
html
  head
    title #{title}
    include _commonmeta.pug
    include _bootstrap.pug
    include _datatables.pug
  body
    header
      div.mt-5.text-center
        img(src="/assets/site_header.png")
    h1.visually-hidden Products
    +nav('products')
    main(class="container")
      h2 Products
      table#patternsTable.table.table-striped
        thead
          th Product
          th
          th Price
        each pattern in patterns
          - var imgUrl = pattern.square_thumbnail_url || ''
          tr
            td
              a(href="product/" + pattern.handle)
                = pattern.title
            td
              if imgUrl
                img(src=imgUrl, alt=pattern.title + " thumbnail", style="max-width: 100px; height: auto;")
              else
                span No image
            td
              = pattern.pretty_price
          
    footer.container
      span &copy; Doug &amp; Jane Finnie 2025
